*.pyc 
__pycache__/
.venv/
.env
.vscode/

/Users/wavveamericas/Library/Mobile Documents/com~apple~CloudDocs/1. Project/4_Work/Guideline Q&A/docs
/Users/wavveamericas/Library/Mobile Documents/com~apple~CloudDocs/1. Project/4_Work/Guideline Q&A/recurly-guidelines